<!DOCTYPE html>
<html>
<head>
  <title>Time Tracker</title>
  <link rel='stylesheet' href='/stylesheets/time_tracker.css'>
</head>

<body>

  <header class='primary-header container group'>
    <h1 class='logo'>
      <a href='/'>Time Tracker</a>
    </h1>

    <h5 class='time'><%= current_time_str %></h5>

    <nav class='nav'>
      <ul>
        <li><a href='/'>Activities</a></li>
        <li><a href='/new'>New</a></li>

        <% if signed_in? %>
          <li>
            <form action='/signout' method='post'>
              <button class='btn-link'>Sign out</button>
            </form>
          </li>
        <% else %>
          <li>
            <a href='/signin'>Sign in</a>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <section>
    <% if session[:msg] %>
      <div class='msg'>
        <%= session.delete(:msg) %>
      </div>
    <% else %>
      <div class='no-msg'>
        &#8196
      </div>
    <% end %>
  </section>

  <%= yield %>

</body>
</html>
