<section class='row-alt'>
  <div class='lead container'>
    <h3>New Activity</h3>
</div>
</section>

<section>
  <section class='row'>
    <form class='center-align' action='/new' method='post'>
      <div class='inline'>
        <label for='name'>Name:
          <input id='name' name='name' value='<%= params[:name] %>'>
        </label>
      </div>
      <button>Save</button>
      <a class='cancel' href='/'>Cancel</a>
    </form>
  </section>
</section>
