/*========== Reset ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*========== Grid ==========*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 875px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

/*========== Typography ==========*/
h1,
h3,
h4,
h5,
p {
  /*margin-bottom: 22px;*/
}

/*========== Leads ==========*/
.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*========== Buttons ==========*/
.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-default {
  border: 0;
  background: #33b5e5;
  color: #000;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-default:hover,
.btn-alt:hover {
  background: #fff;
  color: #33b5e5;
}

/*========== Home ==========*/
.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

/*========== Clearfix ==========*/
.group:before,
.group:after {
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*========== Rows =========*/
.row,
.row-alt {
  min-width: 875px;
}

.row {
  background: #000;
  padding: 12px 0;
}

.row-alt {
  background: #080808;
  /*background: linear-gradient(to right, #000, #111);*/
  padding: 12px 0;
}


/*========== Primary Header ==========*/
.logo {
  color: #fff;
  float: left;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 44px;
  padding: 10px 0 0 0;
  /*text-transform: uppercase;*/
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/*========== Primary Footer ==========*/
/*.primary-footer {
  color: #33b5e5;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}*/

/*========== Columns ==========*/
.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/*========== Custom Styles ==========*/
body {
  background: #000;
  color: #ddd;
  font: 300 16px/22px sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #33b5e5;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite,
em {
  font-style: italic;
}

/*========== Links ==========*/
a {
  color: #33b5e5;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a p {
  border-bottom: 1px solid #fff;
}

.teaser a:hover h3 {
  color: #fff;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #33b5e5;
}

/*========== Navigation ==========*/
.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}

/*=======================================================*/
/*========================= NEW =========================*/
/*=======================================================*/

ul {
  list-style: circle;
}

input {
  background-color: #111;
  border: 1px solid #33b5e5;
  border-radius: 5px;
  color: #fff;
  /*display: inline-block;*/
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}

button {
  background: #222;
  border: none;
  border-radius: 5px;
  color: #33b5e5;
  cursor: pointer;
  /*display: inline;*/
  letter-spacing: 0.5px;
  margin: 0 0 0 5px;
  padding: 6px;
}

button:hover {
  background: #33b5e5;
  color: #000;
}

.inline {
  display: inline;
}

.msg {
  background: #33b5e5;
  color: #000;
  padding: 2px 5px;
}

.no-msg {
  background: #000;
  padding: 2px 5px;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.time {
  text-align: right;
  font-size: 10px;
}